@model IEnumerable<ArticleSite.Model.Entities.Article>

@foreach (var article in Model)
{
    <p>@article.DatePublished.ToLongDateString()</p>
    <h2>@article.Title</h2>
    <p>@article.Content</p>
}