 @model IEnumerable<IGrouping<int, ArticleSite.Model.Entities.Article>>

@{
    ViewBag.Title = "Archive";
}

<h2 id="title">Archive</h2>
<p/>
<ul>
    @foreach (var item in Model) {
        
        <h3 class="archive-year">@Html.DisplayFor(modelItem => item.Key)</h3>
               
        foreach (var i in item)
        {  <li>
               @Html.ActionLink(i.Title, "ArticleDetails", new {id = i.ArticleId}, "Home")
           </li>
          <li>
            Posted: @i.DatePublished.ToLongDateString()
          </li>
        }  
}
</ul>
