@model IEnumerable<ArticleSite.Model.Entities.Article>

@{
    ViewBag.Title = "ArticleSummary";
}

@foreach (var article in Model)
{
    <h4>@article.DatePublished</h4>
    <h1>@article.Title</h1>
    <p>@article.Content</p>
}
